<div class="game container">
  <h1 class="white-text center" >Five Card Draw</h1>
   <app-paytable [paytable]=(game$|async).paytable [handValue]="(game$ | async).handValue" [multiplier]="(game$ | async).wager"></app-paytable>
  <ul class="hand">
    <app-player-hand [playerHand]="(game$ | async).playerHand" 
                     [playerId]="(game$ | async).playerId" 
                     (cardClicked)="onCardClicked($event)"
                     [disabled]="(step$ | async) === gameSteps.Complete" ></app-player-hand>
  </ul> 
  <div>
    <button (click)="onBetOne()">BET ONE</button>
    <button (click)="onBetMax()">BET MAX</button>
  
    <button (click)="onDiscardClicked()" *ngIf="(step$ | async) === gameSteps.Loaded">DEAL</button>
    <button (click)="onNewGameClicked()" *ngIf="(step$ | async) === gameSteps.Complete">DEAL</button>
  </div>
</div>