.card {
    margin: 7px;
    flex-grow: 0;
    height: 100px;
}


.hand {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.front {
    border: 2px;
    border-style: solid;
    max-width: 100%;
    max-height: 100%;
}